html {
  font-family: 'Roboto', sans-serif; }

body {
  overflow-y: auto; }
  body nav {
    padding-top: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
  body p {
    font-weight: bold;
    text-align: center; }
  body form {
    width: 75%;
    margin: 0 auto; }
  body footer {
    text-align: center; }
  body article {
    display: flex;
    flex-flow: column nowrap;
    height: 10vw; }
  body main {
    height: wrap; }

#contQuiz {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.contQuiz {
  height: 30vw; }

.contOpciones {
  height: 50%;
  width: 75%; }

#contOpciones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

#btnEnviarRespuesta {
  width: 75%;
  align-self: center; }

#contRadios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  width: 100%; }

.formIngreso {
  height: 100%; }

#formIngresoUsuario {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
