html {
  font-family: 'Roboto', sans-serif; }

body nav {
  padding-top: 1vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }

body p {
  font-weight: bold;
  text-align: center; }

body form {
  width: 75%;
  margin: 0 auto; }

body footer {
  text-align: center; }

body article {
  display: flex;
  flex-flow: column nowrap;
  height: 100vw; }

body main {
  height: 75vw; }

#contQuiz {
  display: flex;
  align-items: center; }

#contOpciones {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0.5vw 0vw;
  justify-content: space-evenly; }

.contOpciones {
  height: 25%; }

.formIngreso {
  height: 100%; }

#formIngresoUsuario {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
